/* Meta Infos
###########################################################################  */

.info-list {
  padding-top: var(--l);
  padding-bottom: var(--xl);
}

.info-list::after {
  display: none;
  clear: both;
  content: '.';
}

.info-list dt {
  margin-right: var(--xxs);
  float: left;
  font-weight: var(--fw-bold);
}

.info-list dt::after {
  content: ':';
}

/* Intro Text
###########################################################################  */

.intro-text {
  width: 100%;
  max-width: calc(var(--l) * 40);
  padding: var(--m);
  margin-bottom: var(--xxl);
  font-size: var(--l);
  line-height: var(--lh-normal);
}

/* Additional Infos
###########################################################################  */

.additional-infos {
  display: none;
}


/* Overview
###########################################################################  */

.overview {
  display: flex;
  padding: 0;
  margin: 0;
}

/* Card
###########################################################################  */

.card {
  position: relative;
  overflow: hidden;
  width: clamp(300px, 50%, 800px);
  flex-basis: 12rem;
  flex-grow: 1;
  flex-shrink: 0;
  background-color: var(--lightest);
  box-shadow: var(--shadow-l);
  transition: flex var(--tr-fast) ease-out;

  &:hover {
    flex-basis: 30rem;
  }

  &__header {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    padding: var(--m);
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
  }

  &__title,
  &__content {
    padding: 0;
    margin: 0;
  }

  &__title {
    font-size: var(--l);
  }

  &__content {
    color: var(--lightest);
  }

  & img {
    aspect-ratio: 1/1;
    object-fit: cover;
  }

  & figcaption {
    display: none;
  }

  & blockquote {
    padding: var(--m);
    padding-bottom: var(--l);
  }
}
